.card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  transition:
    border-color 100ms ease,
    color 100ms ease;
  border: 1px solid transparent;

  @mixin hover {
    border: 1px solid
      light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-8));
  }
}
